<%- include("header") -%>


        <div class="main">
                <i class="fa-solid fa-pencil fa-shake"></i>
                <h1 class="mainTitle">Book an appointment</h1>
                <div class="mainButton">
                        <i class="fa-solid fa-key fa-main"></i>
                        <a  role="button" href="/login">Login</a>
                </div>

                <br>

                <div class="mainButton">
                        <i class="fa-solid fa-unlock-keyhole fa-main"></i>
                        <a  role="button" href="/register">Register</a>
                </div>
               
        </div>





        <%- include("footer") -%>